* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #e9e9e9;
  color: #333;
  width: 100%;
}
/* Header */
header {
  width: 100%;
  background-color: #242424;
  color: white;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  color: rgb(188, 188, 188);
}
/* Navigation */
ul {
  list-style-type: none;
}
nav {
  display: flex;
  gap: 15px;
  align-items: center;
}
nav ul {
  display: flex;
  gap: 15px;
  align-items: center;
}
nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}
nav ul li a:hover {
  color: rgb(188, 188, 188);
  border-radius: 5px;
}

/*Main content*/
main {
  width: 80%;
  margin: 20px auto;
}
.hero {
  background-image: url("../images/pexels-pixabay-247899.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  color: white;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000079;
}
.hero h1 {
  position: relative;
  padding: 20px;
  font-size: 48px;
  z-index: 2;
}
.hero p {
  position: relative;
  z-index: 2;
  padding: 0px 20px 20px 20px;
  font-size: 24px;
}
.hero a {
  position: relative;
  z-index: 2;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #008000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
  text-decoration: none;
  display: inline-block;
}
.hero a:hover {
  background-color: #015501;
}
/*Articles*/
.header-articles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scroll-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}
.scroll-buttons i {
  cursor: pointer;
  font-size: 24px;
  color: #333;
}
.scroll-buttons i:hover {
  color: #7a7a7a;
}
.carousel-container {
  width: 100%; /* Or a fixed width */
  overflow-x: scroll; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Enforce snapping on the x-axis */
  -webkit-overflow-scrolling: touch; /* Improve scrolling on iOS */
}
.card-wrapper {
  display: flex; /* Arrange cards horizontally */
  gap: 20px; /* Space between cards */
  min-width: max-content; /* Ensures the wrapper is as wide as its content */
}
.article-card {
  flex: 0 0 auto; /* Prevent shrinking and allow horizontal scrolling */
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  background-color: #242424;
  color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.article-card img {
  width: 100%;
  border-radius: 5px;
}
.article-card a {
  color: white;
}
.article-card a:hover {
  color: #bcbcbc;
}
/*Main styles*/
.m-t05 {
  margin-top: 5px;
}
.m-t10 {
  margin-top: 10px;
}
.m-t20 {
  margin-top: 20px;
}
.m-b05 {
  margin-bottom: 5px;
}
.m-b10 {
  margin-bottom: 10px;
}
.m-b20 {
  margin-bottom: 20px;
}
.t-s14 {
  font-size: 14px;
}
.f-w2 {
  font-weight: medium;
}
.l-h1 {
  line-height: 1.3;
}
.td-u {
  text-decoration: underline;
}
